sketches/nodered.txt
[
    {
        "id": "843f1567.7384e8",
        "type": "tab",
        "label": "watering station",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b457d8d.7f48e28",
        "type": "tab",
        "label": "Relays",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c328709.73b718",
        "type": "tab",
        "label": "Device list",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15ed38db.fc1a27",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "8caebb6a.674da8",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ffeda9a.d021c8",
        "type": "ui_tab",
        "z": "",
        "name": "XATA",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2c8473a5.d0af6c",
        "type": "ui_group",
        "z": 0,
        "name": "Zone1",
        "tab": "9ffeda9a.d021c8",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "34cefa3d.080966",
        "type": "ui_group",
        "z": 0,
        "name": "Zone2",
        "tab": "9ffeda9a.d021c8",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "56dd025f.f8f81c",
        "type": "ui_group",
        "z": 0,
        "name": "Debug",
        "tab": "9ffeda9a.d021c8",
        "order": 4,
        "disp": false,
        "width": "6"
    },
    {
        "id": "29dfb3cc.bb24fc",
        "type": "ui_group",
        "z": 0,
        "name": "Output",
        "tab": "9ffeda9a.d021c8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7cad088f.321738",
        "type": "ui_tab",
        "z": "",
        "name": "Switches",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "dcc6d76c.737608",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "7cad088f.321738",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "5a61ff66.32729",
        "type": "ui_tab",
        "z": "",
        "name": "Device IDs",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "4593d764.926248",
        "type": "ui_group",
        "z": "",
        "name": "Device IDs",
        "tab": "5a61ff66.32729",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "2aa48fc2.3693a",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "7cad088f.321738",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "e3dd1db9.2efc",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "zone1_on",
        "topic": "hata/temp/watering/config/zone1_on",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 727.1000709533691,
        "y": 170.60005378723145,
        "wires": []
    },
    {
        "id": "abe8c6b2.738e18",
        "type": "inject",
        "z": "843f1567.7384e8",
        "name": "default_LPM",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 231.10000610351562,
        "y": 1159.0000591278076,
        "wires": [
            [
                "aaa40944.64fd18"
            ]
        ]
    },
    {
        "id": "a06a44bd.1d15d8",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 719.1001262664795,
        "y": 218.6000804901123,
        "wires": []
    },
    {
        "id": "34821cb4.82c2d4",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "payload=state",
        "func": "msg.payload = msg.state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 688.1001205444336,
        "y": 293.800106048584,
        "wires": [
            [
                "fd686d5.c01019"
            ]
        ]
    },
    {
        "id": "b7f39dc6.36e14",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "deep_sleep_en",
        "topic": "hata/temp/watering/config/deep_sleep_en",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 644.1000595092773,
        "y": 1157.8000755310059,
        "wires": []
    },
    {
        "id": "6f5537b5.ccb718",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 638.0000610351562,
        "y": 1124.0000648498535,
        "wires": []
    },
    {
        "id": "2a5ba6af.7a424a",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 501.1000671386719,
        "y": 400.80010986328125,
        "wires": []
    },
    {
        "id": "a8db88.5eda2478",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "STATE",
        "topic": "hata/temp/watering/output/state",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 123.00003051757812,
        "y": 1367.2000894546509,
        "wires": [
            [
                "4722a71d.0abc18",
                "416ba9f9.456d18"
            ]
        ]
    },
    {
        "id": "4722a71d.0abc18",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 365.00006103515625,
        "y": 1366.2000894546509,
        "wires": []
    },
    {
        "id": "f0c7e7eb.0188c8",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "zone1_duration_min",
        "topic": "hata/temp/watering/config/zone1_duration_min",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 865.6001815795898,
        "y": 423.00007581710815,
        "wires": []
    },
    {
        "id": "428732b2.b2c4ec",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "deep_sleep_sec",
        "topic": "hata/temp/watering/config/deep_sleep_sec",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 644.0000686645508,
        "y": 1251.0001590251923,
        "wires": []
    },
    {
        "id": "825c8bc7.a5d138",
        "type": "inject",
        "z": "843f1567.7384e8",
        "name": "default_LPM",
        "topic": "",
        "payload": "600",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 239.0000228881836,
        "y": 1245.0000610351562,
        "wires": [
            [
                "6c5b76c7.e84e88"
            ]
        ]
    },
    {
        "id": "fb388017.aab1a",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 636.0000610351562,
        "y": 1214.4000511169434,
        "wires": []
    },
    {
        "id": "8a5369e0.11e7b8",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 848.000373840332,
        "y": 902.0000796318054,
        "wires": []
    },
    {
        "id": "9b60dd96.f8a6d",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "zone2_duration_min",
        "topic": "hata/temp/watering/config/zone2_duration_min",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 870.0002107620239,
        "y": 961.2002282142639,
        "wires": []
    },
    {
        "id": "5f113752.53bc08",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "zone2_on",
        "topic": "hata/temp/watering/config/zone2_on",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 714.1001892089844,
        "y": 679.0000591278076,
        "wires": []
    },
    {
        "id": "e5af720a.f1dfc",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 718.1002883911133,
        "y": 728.0000925064087,
        "wires": []
    },
    {
        "id": "8060daca.43d728",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "payload=state",
        "func": "msg.payload = msg.state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 725.1002883911133,
        "y": 780.2001123428345,
        "wires": [
            [
                "7580f6ab.00df48"
            ]
        ]
    },
    {
        "id": "a07b9059.1d8f4",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "debug",
        "topic": "hata/temp/watering/output/debug",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 126.0000228881836,
        "y": 1459.6000814437866,
        "wires": [
            [
                "ef4cb918.1a2748",
                "cd8b36ba.2f17b8"
            ]
        ]
    },
    {
        "id": "cd8b36ba.2f17b8",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 320.000057220459,
        "y": 1455.6000995635986,
        "wires": []
    },
    {
        "id": "dfcfcc6b.d2f46",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "VBatt,V",
        "topic": "hata/temp/watering/output/vbatt",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 128.00003051757812,
        "y": 1560.600110054016,
        "wires": [
            [
                "30647d6c.798672",
                "b999522b.f291d"
            ]
        ]
    },
    {
        "id": "30647d6c.798672",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 370.00006103515625,
        "y": 1559.600110054016,
        "wires": []
    },
    {
        "id": "97e4c8b1.a2cca8",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "Temp, F",
        "topic": "hata/temp/watering/output/ftemp",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 592.0000228881836,
        "y": 1475.6000814437866,
        "wires": [
            [
                "3701e1ae.06c8ee",
                "1f6dcefd.0c58e1"
            ]
        ]
    },
    {
        "id": "3701e1ae.06c8ee",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 834.0000534057617,
        "y": 1474.6000814437866,
        "wires": []
    },
    {
        "id": "a11e36ea.53fff8",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "humidity",
        "topic": "hata/temp/watering/output/humidity",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 603.0000686645508,
        "y": 1366.8001527786255,
        "wires": [
            [
                "47066aba.ff5e64",
                "cba57e9e.8400a"
            ]
        ]
    },
    {
        "id": "cba57e9e.8400a",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 835.0000991821289,
        "y": 1365.8001527786255,
        "wires": []
    },
    {
        "id": "a18727b1.f3f3d8",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 833.5001335144043,
        "y": 474.20012760162354,
        "wires": []
    },
    {
        "id": "527408a4.66dc88",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "set_global",
        "func": "flow.set(\"var_zone1_duration_min\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 508.00002670288086,
        "y": 474.2001266479492,
        "wires": [
            [
                "c2919db0.ff7ea"
            ]
        ]
    },
    {
        "id": "fcd5f40.321141",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "set_global",
        "func": "flow.set(\"var_zone2_duration_min\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 525.000129699707,
        "y": 968.1999859809875,
        "wires": [
            [
                "8dad2898.7dcaf8"
            ]
        ]
    },
    {
        "id": "f1d79360.ecf1",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 539.0001182556152,
        "y": 925.1999831199646,
        "wires": []
    },
    {
        "id": "fa86e393.fa997",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "2c8473a5.d0af6c",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone1 OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 108.00001907348633,
        "y": 232.00003051757812,
        "wires": [
            [
                "e22d722f.4595a"
            ]
        ]
    },
    {
        "id": "7f109bb6.cf14f4",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "2c8473a5.d0af6c",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone1 ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 109.10001373291016,
        "y": 196.8000545501709,
        "wires": [
            [
                "e22d722f.4595a"
            ]
        ]
    },
    {
        "id": "7de17b9.ac03f84",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "2c8473a5.d0af6c",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone1 AUTO",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "",
        "x": 110.00003433227539,
        "y": 266.00003242492676,
        "wires": [
            [
                "e22d722f.4595a"
            ]
        ]
    },
    {
        "id": "93377aeb.b76398",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "34cefa3d.080966",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone2 OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 152.00010871887207,
        "y": 746.3999938964844,
        "wires": [
            [
                "4c8ef2ec.3ed94c"
            ]
        ]
    },
    {
        "id": "a30e8612.1b0128",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "34cefa3d.080966",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone2 ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 152.10009765625,
        "y": 706.2000226974487,
        "wires": [
            [
                "4c8ef2ec.3ed94c"
            ]
        ]
    },
    {
        "id": "3c3355a4.0abc1a",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "34cefa3d.080966",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone2 AUTO",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "",
        "x": 151.0001220703125,
        "y": 786.399995803833,
        "wires": [
            [
                "4c8ef2ec.3ed94c"
            ]
        ]
    },
    {
        "id": "c2919db0.ff7ea",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "2c8473a5.d0af6c",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Set",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "var_zone1_duration_min",
        "payloadType": "flow",
        "topic": "",
        "x": 655.0000419616699,
        "y": 473.20008754730225,
        "wires": [
            [
                "f0c7e7eb.0188c8",
                "a18727b1.f3f3d8"
            ]
        ]
    },
    {
        "id": "8dad2898.7dcaf8",
        "type": "ui_button",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "34cefa3d.080966",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Set",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "var_zone2_duration_min",
        "payloadType": "flow",
        "topic": "",
        "x": 681.000171661377,
        "y": 947.1999840736389,
        "wires": [
            [
                "9b60dd96.f8a6d",
                "8a5369e0.11e7b8"
            ]
        ]
    },
    {
        "id": "aaa40944.64fd18",
        "type": "ui_switch",
        "z": "843f1567.7384e8",
        "name": "",
        "label": "Low power Enable",
        "group": "56dd025f.f8f81c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 424.1000061035156,
        "y": 1159.000051498413,
        "wires": [
            [
                "b7f39dc6.36e14",
                "6f5537b5.ccb718"
            ]
        ]
    },
    {
        "id": "e9df79e9.e3aa38",
        "type": "ui_slider",
        "z": "843f1567.7384e8",
        "name": "Zone1 duration",
        "label": "",
        "group": "2c8473a5.d0af6c",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "60",
        "step": "2",
        "x": 281.0000305175781,
        "y": 452.4000988006592,
        "wires": [
            [
                "6e5f46d7.faa698",
                "2a5ba6af.7a424a",
                "527408a4.66dc88"
            ]
        ]
    },
    {
        "id": "21cca37.a48545c",
        "type": "ui_slider",
        "z": "843f1567.7384e8",
        "name": "Zone2 duration",
        "label": "",
        "group": "34cefa3d.080966",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "60",
        "step": "2",
        "x": 272.0001907348633,
        "y": 937.0001020431519,
        "wires": [
            [
                "778f7efe.3c66b",
                "fcd5f40.321141",
                "f1d79360.ecf1"
            ]
        ]
    },
    {
        "id": "6c5b76c7.e84e88",
        "type": "ui_numeric",
        "z": "843f1567.7384e8",
        "name": "",
        "label": "ESP Sleep, sec",
        "group": "56dd025f.f8f81c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1800",
        "step": "60",
        "x": 430.1000099182129,
        "y": 1244.4000549316406,
        "wires": [
            [
                "428732b2.b2c4ec",
                "fb388017.aab1a"
            ]
        ]
    },
    {
        "id": "fd686d5.c01019",
        "type": "ui_text",
        "z": "843f1567.7384e8",
        "group": "2c8473a5.d0af6c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone1 status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870.1001224517822,
        "y": 294.40005588531494,
        "wires": []
    },
    {
        "id": "778f7efe.3c66b",
        "type": "ui_text",
        "z": "843f1567.7384e8",
        "group": "34cefa3d.080966",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone 2 duration minutes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 564.1002426147461,
        "y": 889.0000796318054,
        "wires": []
    },
    {
        "id": "6e5f46d7.faa698",
        "type": "ui_text",
        "z": "843f1567.7384e8",
        "group": "2c8473a5.d0af6c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone 1 duration minutes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 557.10009765625,
        "y": 437.000075340271,
        "wires": []
    },
    {
        "id": "416ba9f9.456d18",
        "type": "ui_text",
        "z": "843f1567.7384e8",
        "group": "56dd025f.f8f81c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 406.90006256103516,
        "y": 1409.4002618789673,
        "wires": []
    },
    {
        "id": "7580f6ab.00df48",
        "type": "ui_text",
        "z": "843f1567.7384e8",
        "group": "34cefa3d.080966",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone2 status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 911.1004409790039,
        "y": 779.8000888824463,
        "wires": []
    },
    {
        "id": "77bcd479.4d985c",
        "type": "ui_text",
        "z": "843f1567.7384e8",
        "group": "56dd025f.f8f81c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Debug:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 399.9000549316406,
        "y": 1510.800100326538,
        "wires": []
    },
    {
        "id": "b999522b.f291d",
        "type": "ui_gauge",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "56dd025f.f8f81c",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "VBatt",
        "label": "Volts",
        "format": "{{value}}",
        "min": "3.6",
        "max": "4.2",
        "colors": [
            "#b30218",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "3.8",
        "seg2": "4.0",
        "x": 355.1000328063965,
        "y": 1614.4000148773193,
        "wires": []
    },
    {
        "id": "1f6dcefd.0c58e1",
        "type": "ui_gauge",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Outside temp, F",
        "label": "F",
        "format": "{{value}}",
        "min": "23",
        "max": "110",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 849.100025177002,
        "y": 1529.3999862670898,
        "wires": []
    },
    {
        "id": "47066aba.ff5e64",
        "type": "ui_gauge",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Outside humidity, %",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#b30218",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860.1000709533691,
        "y": 1420.6000576019287,
        "wires": []
    },
    {
        "id": "e22d722f.4595a",
        "type": "bigtimer",
        "z": "843f1567.7384e8",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Zone 1 scheduler",
        "lat": "32.854749",
        "lon": "-117.204547",
        "starttime": "1080",
        "endtime": "10015",
        "startoff": 0,
        "endoff": "0",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 504.10001945495605,
        "y": 224.30006504058838,
        "wires": [
            [
                "a06a44bd.1d15d8",
                "e3dd1db9.2efc"
            ],
            [
                "34821cb4.82c2d4",
                "2011b421.5eeacc"
            ],
            []
        ]
    },
    {
        "id": "4c8ef2ec.3ed94c",
        "type": "bigtimer",
        "z": "843f1567.7384e8",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Zone 2 scheduler",
        "lat": "32.854749",
        "lon": "-117.204547",
        "starttime": "1140",
        "endtime": "10015",
        "startoff": 0,
        "endoff": "0",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 527.1001129150391,
        "y": 727.7000179290771,
        "wires": [
            [
                "e5af720a.f1dfc",
                "5f113752.53bc08"
            ],
            [
                "8060daca.43d728",
                "b0c2cec8.0bf7a"
            ],
            []
        ]
    },
    {
        "id": "ef4cb918.1a2748",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString()+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 263.1000289916992,
        "y": 1514.2000999450684,
        "wires": [
            [
                "77bcd479.4d985c"
            ]
        ]
    },
    {
        "id": "dd287c3.d3cdb8",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "off_override",
        "func": "msg.topic=\"\"\nif (parseInt(msg.payload) < 10)\n    msg.payload = \"off_override 1000\"+msg.payload\nelse\n    msg.payload = \"off_override 100\"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360.40003204345703,
        "y": 305.00002098083496,
        "wires": [
            [
                "c826fffd.bec5a",
                "e22d722f.4595a"
            ]
        ]
    },
    {
        "id": "c826fffd.bec5a",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 515.3999671936035,
        "y": 338.00006103515625,
        "wires": []
    },
    {
        "id": "5da5b6b5.63c228",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "on_override",
        "func": "msg.payload = \"on_override \"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 311.90003395080566,
        "y": 166.0000295639038,
        "wires": [
            [
                "e22d722f.4595a"
            ]
        ]
    },
    {
        "id": "2011b421.5eeacc",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 722.3999767303467,
        "y": 253.0000696182251,
        "wires": []
    },
    {
        "id": "4761ab8a.4f1e24",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "on_override",
        "func": "msg.payload = \"on_override \"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 321.9000930786133,
        "y": 670.8000164031982,
        "wires": [
            [
                "4c8ef2ec.3ed94c"
            ]
        ]
    },
    {
        "id": "b0c2cec8.0bf7a",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 893.0001449584961,
        "y": 695.0000190734863,
        "wires": []
    },
    {
        "id": "20dc2c35.bf99c4",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "zone1_duration_min_out",
        "topic": "hata/temp/watering/config/zone1_duration_min",
        "qos": "2",
        "broker": "15ed38db.fc1a27",
        "x": 140.00000762939453,
        "y": 326.99999809265137,
        "wires": [
            [
                "dd287c3.d3cdb8",
                "e9df79e9.e3aa38"
            ]
        ]
    },
    {
        "id": "ca06085c.d468a8",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "off_override",
        "func": "msg.topic=\"\"\nif (parseInt(msg.payload) < 10)\n    msg.payload = \"off_override 1000\"+msg.payload\nelse\n    msg.payload = \"off_override 100\"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 349.0000877380371,
        "y": 809.4000101089478,
        "wires": [
            [
                "4c8ef2ec.3ed94c"
            ]
        ]
    },
    {
        "id": "fd86ef53.01cb4",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "zone2_duration_min_out",
        "topic": "hata/temp/watering/config/zone2_duration_min",
        "qos": "2",
        "broker": "15ed38db.fc1a27",
        "x": 146.60005950927734,
        "y": 840.4000301361084,
        "wires": [
            [
                "ca06085c.d468a8",
                "21cca37.a48545c"
            ]
        ]
    },
    {
        "id": "f596b2fd.f8e6d",
        "type": "ui_gauge",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Radioactivity",
        "label": "CPM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 378.1001319885254,
        "y": 1665.0000257492065,
        "wires": []
    },
    {
        "id": "e7836427.d962f8",
        "type": "inject",
        "z": "843f1567.7384e8",
        "name": "test",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 162.00001525878906,
        "y": 1728.0000276565552,
        "wires": [
            [
                "f596b2fd.f8e6d"
            ]
        ]
    },
    {
        "id": "36a9fc0f.71b344",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "Temp, C",
        "topic": "hata/temp/watering/output/ctemp",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 606,
        "y": 1581.5999755859375,
        "wires": [
            [
                "719c3149.7554c",
                "20492fb1.1aee1"
            ]
        ]
    },
    {
        "id": "719c3149.7554c",
        "type": "debug",
        "z": "843f1567.7384e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 838.0000305175781,
        "y": 1580.5999755859375,
        "wires": []
    },
    {
        "id": "20492fb1.1aee1",
        "type": "ui_gauge",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Outside temp, C",
        "label": "F",
        "format": "{{value}}",
        "min": "-5",
        "max": "45",
        "colors": [
            "#80ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 845.100025177002,
        "y": 1635.399926185608,
        "wires": []
    },
    {
        "id": "6db8705a.d06ae",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "Geiger, CPM",
        "topic": "hata/geiger/output/cpm",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 160.00000381469727,
        "y": 1667.600025177002,
        "wires": [
            [
                "f596b2fd.f8e6d"
            ]
        ]
    },
    {
        "id": "8e968842.911128",
        "type": "inject",
        "z": "843f1567.7384e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 165.10001373291016,
        "y": 1845.999981880188,
        "wires": [
            [
                "cf3f2efc.e5fed"
            ]
        ]
    },
    {
        "id": "adbc6589.b4cb68",
        "type": "mqtt out",
        "z": "843f1567.7384e8",
        "name": "time",
        "topic": "hata/random/output/time",
        "qos": "1",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 494.10001373291016,
        "y": 1844.999981880188,
        "wires": []
    },
    {
        "id": "cf3f2efc.e5fed",
        "type": "function",
        "z": "843f1567.7384e8",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 341.00000762939453,
        "y": 1845.7999801635742,
        "wires": [
            [
                "adbc6589.b4cb68"
            ]
        ]
    },
    {
        "id": "40af00ae.ef27c",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "outlet1 STATE",
        "topic": "hata/lights/outlet1/output/state",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 199.00000762939453,
        "y": 277.0000057220459,
        "wires": [
            [
                "e65d4d33.766b1",
                "e5b5057d.1d59e8"
            ]
        ]
    },
    {
        "id": "e65d4d33.766b1",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 421.00003814697266,
        "y": 276.0000057220459,
        "wires": []
    },
    {
        "id": "e5b5057d.1d59e8",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "2aa48fc2.3693a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Portable outlet:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 492.90003967285156,
        "y": 319.2001781463623,
        "wires": []
    },
    {
        "id": "6cb7e78d.e00888",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "debug",
        "topic": "hata/lights/outlet1/output/debug",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 182.00004196166992,
        "y": 372.0000286102295,
        "wires": [
            [
                "d5afd2c7.a1a9a",
                "a4e1b415.079ee8"
            ]
        ]
    },
    {
        "id": "a4e1b415.079ee8",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 420.0000457763672,
        "y": 370.00003814697266,
        "wires": []
    },
    {
        "id": "d5afd2c7.a1a9a",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString()+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 363.1000175476074,
        "y": 428.6000385284424,
        "wires": [
            [
                "98c5e918.67e078"
            ]
        ]
    },
    {
        "id": "98c5e918.67e078",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "2aa48fc2.3693a",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Outlet1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 511.9000244140625,
        "y": 427.2000160217285,
        "wires": []
    },
    {
        "id": "352f7f36.7c6e5",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "2aa48fc2.3693a",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay1 ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 180.00000762939453,
        "y": 105.00000286102295,
        "wires": [
            [
                "c6882f7f.67265",
                "ec842376.aa6d9"
            ]
        ]
    },
    {
        "id": "399cfddf.c85602",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "2aa48fc2.3693a",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay1 OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 178.9000129699707,
        "y": 140.19997882843018,
        "wires": [
            [
                "c6882f7f.67265",
                "ec842376.aa6d9"
            ]
        ]
    },
    {
        "id": "c6882f7f.67265",
        "type": "mqtt out",
        "z": "b457d8d.7f48e28",
        "name": "relay1_on",
        "topic": "hata/lights/outlet1/config/turn_on",
        "qos": "2",
        "retain": "true",
        "broker": "15ed38db.fc1a27",
        "x": 427.00010871887207,
        "y": 138.8000030517578,
        "wires": []
    },
    {
        "id": "ec842376.aa6d9",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 433.000036239624,
        "y": 87.00000476837158,
        "wires": []
    },
    {
        "id": "50ab1b36.3bede4",
        "type": "debug",
        "z": "2c328709.73b718",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 362.00003814697266,
        "y": 41.00000476837158,
        "wires": []
    },
    {
        "id": "63d75d28.b7afb4",
        "type": "mqtt in",
        "z": "2c328709.73b718",
        "name": "IP+hostname",
        "topic": "hata/temp/watering/output/id",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 121.00000762939453,
        "y": 65.00000476837158,
        "wires": [
            [
                "50ab1b36.3bede4",
                "31e7c81a.215008"
            ]
        ]
    },
    {
        "id": "d21f2388.0ae77",
        "type": "ui_text",
        "z": "2c328709.73b718",
        "group": "4593d764.926248",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 428.9000358581543,
        "y": 89.20017337799072,
        "wires": []
    },
    {
        "id": "31e7c81a.215008",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290.0000343322754,
        "y": 89.00000190734863,
        "wires": [
            [
                "d21f2388.0ae77"
            ]
        ]
    },
    {
        "id": "2d18b1c5.f9233e",
        "type": "debug",
        "z": "2c328709.73b718",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 367.0000305175781,
        "y": 142.00000476837158,
        "wires": []
    },
    {
        "id": "fc7fe705.379b18",
        "type": "mqtt in",
        "z": "2c328709.73b718",
        "name": "IP+hostname",
        "topic": "hata/geiger/output/id",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 126,
        "y": 166.00000476837158,
        "wires": [
            [
                "2d18b1c5.f9233e",
                "fa4491d1.10c6"
            ]
        ]
    },
    {
        "id": "4e42aef0.7bb1f",
        "type": "ui_text",
        "z": "2c328709.73b718",
        "group": "4593d764.926248",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Geiger:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 440.90003967285156,
        "y": 190.20018863677979,
        "wires": []
    },
    {
        "id": "fa4491d1.10c6",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 294.0000305175781,
        "y": 192.0000057220459,
        "wires": [
            [
                "4e42aef0.7bb1f"
            ]
        ]
    },
    {
        "id": "58fb22fc.177abc",
        "type": "debug",
        "z": "2c328709.73b718",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 372.0000305175781,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc4db0ef.7919d",
        "type": "mqtt in",
        "z": "2c328709.73b718",
        "name": "IP+hostname",
        "topic": "hata/lights/outlet1/output/id",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 131,
        "y": 264,
        "wires": [
            [
                "58fb22fc.177abc",
                "cb0bf7a0.8a19e8"
            ]
        ]
    },
    {
        "id": "79352653.c8e528",
        "type": "ui_text",
        "z": "2c328709.73b718",
        "group": "4593d764.926248",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Outlet1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 448.90002822875977,
        "y": 288.20016860961914,
        "wires": []
    },
    {
        "id": "cb0bf7a0.8a19e8",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300.00002670288086,
        "y": 287.99999713897705,
        "wires": [
            [
                "79352653.c8e528"
            ]
        ]
    },
    {
        "id": "3b9c7ab0.88bf16",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "sonoff2",
        "topic": "hata/sw/te/sonoff2/SENSOR",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 167.00000762939453,
        "y": 540.0000276565552,
        "wires": [
            [
                "a29ab8da.1aedb8"
            ]
        ]
    },
    {
        "id": "ebf8fb1.233da08",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse temp",
        "func": "msg.payload = msg.payload.DHT11.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 365.00003814697266,
        "y": 566.0000286102295,
        "wires": [
            [
                "40b8debc.a9d46",
                "7b002767.f37618"
            ]
        ]
    },
    {
        "id": "40b8debc.a9d46",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 673.0000610351562,
        "y": 501.00007724761963,
        "wires": []
    },
    {
        "id": "a29ab8da.1aedb8",
        "type": "json",
        "z": "b457d8d.7f48e28",
        "name": "",
        "pretty": false,
        "x": 225.10000610351562,
        "y": 618.4000387191772,
        "wires": [
            [
                "ebf8fb1.233da08",
                "3c26dbe8.0c4be4"
            ]
        ]
    },
    {
        "id": "7b002767.f37618",
        "type": "ui_gauge",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Garage temp, F",
        "label": "F",
        "format": "{{value}}",
        "min": "23",
        "max": "110",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 682.0000686645508,
        "y": 553.0000314712524,
        "wires": []
    },
    {
        "id": "11044083.0ee66f",
        "type": "ui_gauge",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Garage humidity, %",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#b30218",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 694,
        "y": 597.0000143051147,
        "wires": []
    },
    {
        "id": "3c26dbe8.0c4be4",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse humidity",
        "func": "msg.payload = msg.payload.DHT11.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 621.0000143051147,
        "wires": [
            [
                "11044083.0ee66f"
            ]
        ]
    },
    {
        "id": "2bd3b260.d924be",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "2aa48fc2.3693a",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Garage light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 202,
        "y": 712.3999633789062,
        "wires": [
            [
                "c150d701.5059e8",
                "308fa448.fecdec"
            ]
        ]
    },
    {
        "id": "6ea90c54.caff94",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "2aa48fc2.3693a",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Garage light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 210.90000534057617,
        "y": 747.5999393463135,
        "wires": [
            [
                "c150d701.5059e8",
                "308fa448.fecdec"
            ]
        ]
    },
    {
        "id": "c150d701.5059e8",
        "type": "mqtt out",
        "z": "b457d8d.7f48e28",
        "name": "sonoff2_on",
        "topic": "hata/sw/cm/sonoff2/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 449.00010108947754,
        "y": 746.1999635696411,
        "wires": []
    },
    {
        "id": "308fa448.fecdec",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 445.0000286102295,
        "y": 694.3999652862549,
        "wires": []
    },
    {
        "id": "a29910c6.5944a",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "Sonoff2 STATE",
        "topic": "hata/sw/st/sonoff2/POWER",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 169.00001525878906,
        "y": 833.800012588501,
        "wires": [
            [
                "27309506.48595a",
                "9119e19b.c4c1a"
            ]
        ]
    },
    {
        "id": "27309506.48595a",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 343.0000705718994,
        "y": 876.800009727478,
        "wires": []
    },
    {
        "id": "9119e19b.c4c1a",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "2aa48fc2.3693a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Garage light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 677.9001655578613,
        "y": 833.000207901001,
        "wires": []
    },
    {
        "id": "7d6efa05.885f84",
        "type": "json",
        "z": "b457d8d.7f48e28",
        "name": "",
        "pretty": false,
        "x": 346.00001525878906,
        "y": 832.8000392913818,
        "wires": [
            [
                "7b9fbf7c.cad68"
            ]
        ]
    },
    {
        "id": "7b9fbf7c.cad68",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 491.9000129699707,
        "y": 831.4000129699707,
        "wires": [
            []
        ]
    },
    {
        "id": "3e61fe24.055572",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "2aa48fc2.3693a",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Patio light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 205,
        "y": 954,
        "wires": [
            [
                "8c899cdf.e1ea1",
                "bea05edb.04fba"
            ]
        ]
    },
    {
        "id": "39895190.d94b5e",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "2aa48fc2.3693a",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Patio light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 203.90000534057617,
        "y": 989.1999759674072,
        "wires": [
            [
                "8c899cdf.e1ea1",
                "bea05edb.04fba"
            ]
        ]
    },
    {
        "id": "8c899cdf.e1ea1",
        "type": "mqtt out",
        "z": "b457d8d.7f48e28",
        "name": "patio_light_on",
        "topic": "hata/sw/cm/s10_patio_sw/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 462.00010108947754,
        "y": 987.8000001907349,
        "wires": []
    },
    {
        "id": "bea05edb.04fba",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 448.0000286102295,
        "y": 936.0000019073486,
        "wires": []
    },
    {
        "id": "423497de.50d138",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "patio light STATE",
        "topic": "hata/sw/st/s10_patio_sw/POWER",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 172.00001525878906,
        "y": 1075.4000492095947,
        "wires": [
            [
                "84129803.1e7c28",
                "5af7ddd3.8fe834"
            ]
        ]
    },
    {
        "id": "84129803.1e7c28",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 346.0000705718994,
        "y": 1118.4000463485718,
        "wires": []
    },
    {
        "id": "5af7ddd3.8fe834",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "2aa48fc2.3693a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patio light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680.9001655578613,
        "y": 1074.6002445220947,
        "wires": []
    },
    {
        "id": "3f71dcd3.b45284",
        "type": "json",
        "z": "b457d8d.7f48e28",
        "name": "",
        "pretty": false,
        "x": 349.00001525878906,
        "y": 1074.4000759124756,
        "wires": [
            [
                "83051bc.85df1e8"
            ]
        ]
    },
    {
        "id": "83051bc.85df1e8",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 494.9000129699707,
        "y": 1073.0000495910645,
        "wires": [
            []
        ]
    },
    {
        "id": "13367bc9.925fe4",
        "type": "mqtt in",
        "z": "2c328709.73b718",
        "name": "Sonoff2",
        "topic": "hata/sw/st/sonoff2/RESULT",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 104.00003814697266,
        "y": 444.00001335144043,
        "wires": [
            [
                "6aa54f11.fe3d3"
            ]
        ]
    },
    {
        "id": "4147e069.a3c11",
        "type": "debug",
        "z": "2c328709.73b718",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 655.0000610351562,
        "y": 507.00001430511475,
        "wires": []
    },
    {
        "id": "283f160c.c5cdba",
        "type": "ui_text",
        "z": "2c328709.73b718",
        "group": "4593d764.926248",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sonoff 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 825.9001693725586,
        "y": 439.2002067565918,
        "wires": []
    },
    {
        "id": "6aa54f11.fe3d3",
        "type": "json",
        "z": "2c328709.73b718",
        "name": "",
        "pretty": false,
        "x": 228.00001907348633,
        "y": 444.00006103515625,
        "wires": [
            [
                "18fa384b.8473a8"
            ]
        ]
    },
    {
        "id": "18fa384b.8473a8",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "parse state",
        "func": "msg.payload = msg.payload.IPAddress1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 411.9000186920166,
        "y": 445.60001277923584,
        "wires": [
            [
                "4147e069.a3c11",
                "dc4a920a.98461"
            ]
        ]
    },
    {
        "id": "94f83ac8.5c0aa8",
        "type": "mqtt out",
        "z": "2c328709.73b718",
        "name": "query IP",
        "topic": "hata/sw/cm/tykalka1/IPAddress1",
        "qos": "1",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 461.10005950927734,
        "y": 706.9999847412109,
        "wires": []
    },
    {
        "id": "b667f87b.e42918",
        "type": "debug",
        "z": "2c328709.73b718",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 424.1000328063965,
        "y": 758.9999742507935,
        "wires": []
    },
    {
        "id": "565149ad.78a918",
        "type": "inject",
        "z": "2c328709.73b718",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "x": 131.10000610351562,
        "y": 710.9999856948853,
        "wires": [
            [
                "94f83ac8.5c0aa8",
                "b667f87b.e42918",
                "c7783e98.540ac"
            ]
        ]
    },
    {
        "id": "dc4a920a.98461",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 616.0000152587891,
        "y": 442.00001525878906,
        "wires": [
            [
                "283f160c.c5cdba"
            ]
        ]
    },
    {
        "id": "80040cf9.d9ff5",
        "type": "ui_gauge",
        "z": "843f1567.7384e8",
        "name": "",
        "group": "29dfb3cc.bb24fc",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Air quality, gas/CO",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "4",
        "seg2": "7",
        "x": 830.0000228881836,
        "y": 1723.600076675415,
        "wires": []
    },
    {
        "id": "4641a588.989a2c",
        "type": "mqtt in",
        "z": "843f1567.7384e8",
        "name": "Air quality, MQ9 gas sensor",
        "topic": "hata/geiger/output/mq9",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 551.8998718261719,
        "y": 1723.200026512146,
        "wires": [
            [
                "80040cf9.d9ff5"
            ]
        ]
    },
    {
        "id": "22b281e4.551cde",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "dcc6d76c.737608",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "MB light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 154,
        "y": 1204,
        "wires": [
            [
                "29d80f94.bc27f",
                "e0ae178b.67cb58"
            ]
        ]
    },
    {
        "id": "f460a878.e8f478",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "dcc6d76c.737608",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "MB light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 152.90000534057617,
        "y": 1239.1999759674072,
        "wires": [
            [
                "29d80f94.bc27f",
                "e0ae178b.67cb58"
            ]
        ]
    },
    {
        "id": "29d80f94.bc27f",
        "type": "mqtt out",
        "z": "b457d8d.7f48e28",
        "name": "tykalka1_on",
        "topic": "hata/sw/cm/tykalka1/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 411.00010108947754,
        "y": 1237.8000001907349,
        "wires": []
    },
    {
        "id": "e0ae178b.67cb58",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 407.0000286102295,
        "y": 1186.0000019073486,
        "wires": []
    },
    {
        "id": "4d60aa5c.c1b234",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "tykalka1 STATE",
        "topic": "hata/sw/st/tykalka1/POWER",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 131.00001525878906,
        "y": 1325.4000492095947,
        "wires": [
            [
                "bff3c9b2.991488",
                "edf0c714.39f118"
            ]
        ]
    },
    {
        "id": "bff3c9b2.991488",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 305.0000705718994,
        "y": 1368.4000463485718,
        "wires": []
    },
    {
        "id": "edf0c714.39f118",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "dcc6d76c.737608",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MB light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 629.9001655578613,
        "y": 1324.6002445220947,
        "wires": []
    },
    {
        "id": "5da4ba69.d01b64",
        "type": "json",
        "z": "b457d8d.7f48e28",
        "name": "",
        "pretty": false,
        "x": 308.00001525878906,
        "y": 1324.4000759124756,
        "wires": [
            [
                "2be7c58d.20e59a"
            ]
        ]
    },
    {
        "id": "2be7c58d.20e59a",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 459.90003967285156,
        "y": 1293.9999904632568,
        "wires": [
            []
        ]
    },
    {
        "id": "2379d5e4.32a79a",
        "type": "mqtt in",
        "z": "2c328709.73b718",
        "name": "tykalka1",
        "topic": "hata/sw/st/tykalka1/RESULT",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 106,
        "y": 568,
        "wires": [
            [
                "50f2777a.8cc418"
            ]
        ]
    },
    {
        "id": "69ad95d0.66a48c",
        "type": "debug",
        "z": "2c328709.73b718",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 647.0000228881836,
        "y": 631.0000009536743,
        "wires": []
    },
    {
        "id": "78b463d5.af2fec",
        "type": "ui_text",
        "z": "2c328709.73b718",
        "group": "4593d764.926248",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MB light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 817.9001312255859,
        "y": 563.2001934051514,
        "wires": []
    },
    {
        "id": "50f2777a.8cc418",
        "type": "json",
        "z": "2c328709.73b718",
        "name": "",
        "pretty": false,
        "x": 245.99999618530273,
        "y": 568.0000653266907,
        "wires": [
            [
                "ab0a4a2d.4de7d8"
            ]
        ]
    },
    {
        "id": "ab0a4a2d.4de7d8",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "parse state",
        "func": "msg.payload = msg.payload.IPAddress1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 403.89998054504395,
        "y": 569.5999994277954,
        "wires": [
            [
                "69ad95d0.66a48c",
                "1e210b69.c62425"
            ]
        ]
    },
    {
        "id": "1e210b69.c62425",
        "type": "function",
        "z": "2c328709.73b718",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 607.9999771118164,
        "y": 566.0000019073486,
        "wires": [
            [
                "78b463d5.af2fec"
            ]
        ]
    },
    {
        "id": "c7783e98.540ac",
        "type": "mqtt out",
        "z": "2c328709.73b718",
        "name": "query IP",
        "topic": "hata/sw/cm/sonoff2/IPAddress1",
        "qos": "1",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 460,
        "y": 661.5999755859375,
        "wires": []
    },
    {
        "id": "10f46ee4.b51ee1",
        "type": "alexa-local",
        "z": "b457d8d.7f48e28",
        "devicename": "Hallway",
        "inputtrigger": false,
        "x": 150.1000099182129,
        "y": 1486.5999717712402,
        "wires": [
            [
                "99a5867d.365c68",
                "bb917217.1dbd8"
            ]
        ]
    },
    {
        "id": "99a5867d.365c68",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 363.10003662109375,
        "y": 1485.7999877929688,
        "wires": []
    },
    {
        "id": "47826a2e.2384a4",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "dcc6d76c.737608",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hallway light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 168,
        "y": 1583.199951171875,
        "wires": [
            [
                "bb917217.1dbd8",
                "c0ff1a30.e25048"
            ]
        ]
    },
    {
        "id": "f52bd33c.088f5",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "dcc6d76c.737608",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hallway light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 176.90000534057617,
        "y": 1618.3999271392822,
        "wires": [
            [
                "bb917217.1dbd8",
                "c0ff1a30.e25048"
            ]
        ]
    },
    {
        "id": "bb917217.1dbd8",
        "type": "mqtt out",
        "z": "b457d8d.7f48e28",
        "name": "dual1_power1",
        "topic": "hata/sw/cm/dual1/POWER1",
        "qos": "2",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 425.00010108947754,
        "y": 1616.9999513626099,
        "wires": []
    },
    {
        "id": "c0ff1a30.e25048",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 411.0000286102295,
        "y": 1565.1999530792236,
        "wires": []
    },
    {
        "id": "ec37c832.8579e8",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "dual1 STATE",
        "topic": "hata/sw/st/dual1/POWER1",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 124.00001525878906,
        "y": 1706.5999774932861,
        "wires": [
            [
                "23630e11.efe3f2",
                "dbcb90d2.e308c"
            ]
        ]
    },
    {
        "id": "23630e11.efe3f2",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 309.0000705718994,
        "y": 1747.5999975204468,
        "wires": []
    },
    {
        "id": "dbcb90d2.e308c",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "dcc6d76c.737608",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hallway light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 643.9001655578613,
        "y": 1703.8001956939697,
        "wires": []
    },
    {
        "id": "8a48f17a.0a833",
        "type": "json",
        "z": "b457d8d.7f48e28",
        "name": "",
        "pretty": false,
        "x": 313.00003242492676,
        "y": 1673.5999774932861,
        "wires": [
            [
                "2087e550.42d4da"
            ]
        ]
    },
    {
        "id": "2087e550.42d4da",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 467.90003967285156,
        "y": 1673.200050354004,
        "wires": [
            [
                "dbcb90d2.e308c"
            ]
        ]
    },
    {
        "id": "b6da85ac.461bf8",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "dcc6d76c.737608",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Bathroom light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 156,
        "y": 1832,
        "wires": [
            [
                "4a62b4e8.387b4c",
                "2536bfae.1e869"
            ]
        ]
    },
    {
        "id": "505e2807.35cf78",
        "type": "ui_button",
        "z": "b457d8d.7f48e28",
        "name": "",
        "group": "dcc6d76c.737608",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Bathroom light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 154.90000534057617,
        "y": 1867.1999759674072,
        "wires": [
            [
                "4a62b4e8.387b4c",
                "2536bfae.1e869"
            ]
        ]
    },
    {
        "id": "4a62b4e8.387b4c",
        "type": "mqtt out",
        "z": "b457d8d.7f48e28",
        "name": "dual1_power2",
        "topic": "hata/sw/cm/dual1/POWER2",
        "qos": "2",
        "retain": "false",
        "broker": "15ed38db.fc1a27",
        "x": 403.00010108947754,
        "y": 1865.8000001907349,
        "wires": []
    },
    {
        "id": "2536bfae.1e869",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 389.0000286102295,
        "y": 1814.0000019073486,
        "wires": []
    },
    {
        "id": "4804169b.6f0028",
        "type": "mqtt in",
        "z": "b457d8d.7f48e28",
        "name": "dual1 power1 STATE",
        "topic": "hata/sw/st/dual1/POWER2",
        "qos": "1",
        "broker": "15ed38db.fc1a27",
        "x": 133.00001525878906,
        "y": 1953.4000492095947,
        "wires": [
            [
                "a5a10509.6a5bb8",
                "1380733.892df8d",
                "db532efb.019cb"
            ]
        ]
    },
    {
        "id": "a5a10509.6a5bb8",
        "type": "debug",
        "z": "b457d8d.7f48e28",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 319.00008392333984,
        "y": 2003.4000835418701,
        "wires": []
    },
    {
        "id": "1380733.892df8d",
        "type": "ui_text",
        "z": "b457d8d.7f48e28",
        "group": "dcc6d76c.737608",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bathroom light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670.9001655578613,
        "y": 1950.6001796722412,
        "wires": []
    },
    {
        "id": "db532efb.019cb",
        "type": "json",
        "z": "b457d8d.7f48e28",
        "name": "",
        "pretty": false,
        "x": 343.0000305175781,
        "y": 1922.4000577926636,
        "wires": [
            [
                "8536eb9d.86c4b8"
            ]
        ]
    },
    {
        "id": "8536eb9d.86c4b8",
        "type": "function",
        "z": "b457d8d.7f48e28",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 501.90001678466797,
        "y": 1981.0000095367432,
        "wires": [
            [
                "1380733.892df8d"
            ]
        ]
    }
]