sketches/nodered.txt
[
    {
        "id": "9848d94f.b62278",
        "type": "tab",
        "label": "watering station",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a50c148b.5de898",
        "type": "tab",
        "label": "Relays",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7da5f88.52cf3",
        "type": "tab",
        "label": "Device list",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ebd9795.74b618",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4343d76e.bfa148",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e63bc3cd.daed7",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "43d491ce.15db4",
        "type": "ui_tab",
        "z": "",
        "name": "XATA",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "8f202856.0f3138",
        "type": "ui_group",
        "z": 0,
        "name": "Zone1",
        "tab": "43d491ce.15db4",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "29bd95cb.68d67a",
        "type": "ui_group",
        "z": 0,
        "name": "Zone2",
        "tab": "43d491ce.15db4",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "b9a7883e.bb2638",
        "type": "ui_group",
        "z": 0,
        "name": "Debug",
        "tab": "43d491ce.15db4",
        "order": 4,
        "disp": false,
        "width": "6"
    },
    {
        "id": "7b8cfdd7.b1c304",
        "type": "ui_group",
        "z": 0,
        "name": "Output",
        "tab": "43d491ce.15db4",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5aeffd32.2ee3a4",
        "type": "ui_tab",
        "z": "",
        "name": "Switches",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "9c33e52.3698e18",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "5aeffd32.2ee3a4",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "b46eb7ce.d04bb8",
        "type": "ui_tab",
        "z": "",
        "name": "Device IDs",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "608f2bba.e56a84",
        "type": "ui_group",
        "z": "",
        "name": "Device IDs",
        "tab": "b46eb7ce.d04bb8",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "10657589.f8a1aa",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "5aeffd32.2ee3a4",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "e0292721.a65998",
        "type": "ui_group",
        "z": "",
        "name": "Group 3",
        "tab": "5aeffd32.2ee3a4",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "7076a101.04a0c",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "zone1_on",
        "topic": "hata/temp/watering/config/zone1_on",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 727.1000709533691,
        "y": 170.60005378723145,
        "wires": []
    },
    {
        "id": "d36b960a.644668",
        "type": "inject",
        "z": "9848d94f.b62278",
        "name": "default_LPM",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 231.10000610351562,
        "y": 1159.0000591278076,
        "wires": [
            [
                "7675c9eb.7c5838"
            ]
        ]
    },
    {
        "id": "8f39b418.27fbb8",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 719.1001262664795,
        "y": 218.6000804901123,
        "wires": []
    },
    {
        "id": "21693cfb.54f894",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "payload=state",
        "func": "msg.payload = msg.state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 688.1001205444336,
        "y": 293.800106048584,
        "wires": [
            [
                "ad48b122.78fae"
            ]
        ]
    },
    {
        "id": "1050a17c.f0acbf",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "deep_sleep_en",
        "topic": "hata/temp/watering/config/deep_sleep_en",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 644.1000595092773,
        "y": 1157.8000755310059,
        "wires": []
    },
    {
        "id": "53cb98c6.907018",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 638.0000610351562,
        "y": 1124.0000648498535,
        "wires": []
    },
    {
        "id": "59925034.b8fe5",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 501.1000671386719,
        "y": 400.80010986328125,
        "wires": []
    },
    {
        "id": "45dfa09f.c6fb",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "STATE",
        "topic": "hata/temp/watering/output/state",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 123.00003051757812,
        "y": 1367.2000894546509,
        "wires": [
            [
                "495388aa.f398d8",
                "1fdcce7e.e1c212"
            ]
        ]
    },
    {
        "id": "495388aa.f398d8",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 365.00006103515625,
        "y": 1366.2000894546509,
        "wires": []
    },
    {
        "id": "29839c4a.f5e0b4",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "zone1_duration_min",
        "topic": "hata/temp/watering/config/zone1_duration_min",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 865.6001815795898,
        "y": 423.00007581710815,
        "wires": []
    },
    {
        "id": "a19ff382.fe0e1",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "deep_sleep_sec",
        "topic": "hata/temp/watering/config/deep_sleep_sec",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 644.0000686645508,
        "y": 1251.0001590251923,
        "wires": []
    },
    {
        "id": "cc58b0a.a67c35",
        "type": "inject",
        "z": "9848d94f.b62278",
        "name": "default_LPM",
        "topic": "",
        "payload": "600",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 239.0000228881836,
        "y": 1245.0000610351562,
        "wires": [
            [
                "157556ec.7ced39"
            ]
        ]
    },
    {
        "id": "5dd021e1.b64f6",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 636.0000610351562,
        "y": 1214.4000511169434,
        "wires": []
    },
    {
        "id": "466ff42f.ae7cbc",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 848.000373840332,
        "y": 902.0000796318054,
        "wires": []
    },
    {
        "id": "a486df7e.cd881",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "zone2_duration_min",
        "topic": "hata/temp/watering/config/zone2_duration_min",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 870.0002107620239,
        "y": 961.2002282142639,
        "wires": []
    },
    {
        "id": "20c0f385.32921c",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "zone2_on",
        "topic": "hata/temp/watering/config/zone2_on",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 714.1001892089844,
        "y": 679.0000591278076,
        "wires": []
    },
    {
        "id": "8b0f6a1f.06fa28",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 718.1002883911133,
        "y": 728.0000925064087,
        "wires": []
    },
    {
        "id": "7a37dba4.75f814",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "payload=state",
        "func": "msg.payload = msg.state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 725.1002883911133,
        "y": 780.2001123428345,
        "wires": [
            [
                "814c485e.3bb998"
            ]
        ]
    },
    {
        "id": "bc7bee9a.c9d35",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "debug",
        "topic": "hata/temp/watering/output/debug",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 126.0000228881836,
        "y": 1459.6000814437866,
        "wires": [
            [
                "d181c303.dc8e9",
                "133957ab.d6c9d8"
            ]
        ]
    },
    {
        "id": "133957ab.d6c9d8",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 320.000057220459,
        "y": 1455.6000995635986,
        "wires": []
    },
    {
        "id": "3a7ec72b.3dd4a8",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "VBatt,V",
        "topic": "hata/temp/watering/output/vbatt",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 128.00003051757812,
        "y": 1560.600110054016,
        "wires": [
            [
                "e67b7f9e.937be",
                "de1892a1.3e6c9"
            ]
        ]
    },
    {
        "id": "e67b7f9e.937be",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 370.00006103515625,
        "y": 1559.600110054016,
        "wires": []
    },
    {
        "id": "8ad248ae.2469f8",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "Temp, F",
        "topic": "hata/temp/watering/output/ftemp",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 592.0000228881836,
        "y": 1475.6000814437866,
        "wires": [
            [
                "306b7cba.549074",
                "8d0336b9.f52498"
            ]
        ]
    },
    {
        "id": "306b7cba.549074",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 834.0000534057617,
        "y": 1474.6000814437866,
        "wires": []
    },
    {
        "id": "ac8a342c.ba3098",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "humidity",
        "topic": "hata/temp/watering/output/humidity",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 603.0000686645508,
        "y": 1366.8001527786255,
        "wires": [
            [
                "9d83d79d.933078",
                "3b315350.6579ac"
            ]
        ]
    },
    {
        "id": "3b315350.6579ac",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 835.0000991821289,
        "y": 1365.8001527786255,
        "wires": []
    },
    {
        "id": "9c0ca217.d310a",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 833.5001335144043,
        "y": 474.20012760162354,
        "wires": []
    },
    {
        "id": "467055c3.557dec",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "set_global",
        "func": "flow.set(\"var_zone1_duration_min\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 508.00002670288086,
        "y": 474.2001266479492,
        "wires": [
            [
                "50607876.2c2e28"
            ]
        ]
    },
    {
        "id": "7dce174f.e74d48",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "set_global",
        "func": "flow.set(\"var_zone2_duration_min\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 525.000129699707,
        "y": 968.1999859809875,
        "wires": [
            [
                "d36c972c.b12438"
            ]
        ]
    },
    {
        "id": "16a0f45b.26b52c",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 539.0001182556152,
        "y": 925.1999831199646,
        "wires": []
    },
    {
        "id": "df0b4768.ec1848",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "8f202856.0f3138",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone1 OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 108.00001907348633,
        "y": 232.00003051757812,
        "wires": [
            [
                "5f834a9e.a7c464"
            ]
        ]
    },
    {
        "id": "20c6b1d3.ba054e",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "8f202856.0f3138",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone1 ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 109.10001373291016,
        "y": 196.8000545501709,
        "wires": [
            [
                "5f834a9e.a7c464"
            ]
        ]
    },
    {
        "id": "32a5bd9b.9dc3d2",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "8f202856.0f3138",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone1 AUTO",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "",
        "x": 110.00003433227539,
        "y": 266.00003242492676,
        "wires": [
            [
                "5f834a9e.a7c464"
            ]
        ]
    },
    {
        "id": "b3683d42.63082",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "29bd95cb.68d67a",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone2 OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 152.00010871887207,
        "y": 746.3999938964844,
        "wires": [
            [
                "fd5a99c.9ad5668"
            ]
        ]
    },
    {
        "id": "7f908ffd.3b0f4",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "29bd95cb.68d67a",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone2 ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 152.10009765625,
        "y": 706.2000226974487,
        "wires": [
            [
                "fd5a99c.9ad5668"
            ]
        ]
    },
    {
        "id": "154e85b4.57544a",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "29bd95cb.68d67a",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zone2 AUTO",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "",
        "x": 151.0001220703125,
        "y": 786.399995803833,
        "wires": [
            [
                "fd5a99c.9ad5668"
            ]
        ]
    },
    {
        "id": "50607876.2c2e28",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "8f202856.0f3138",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Set",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "var_zone1_duration_min",
        "payloadType": "flow",
        "topic": "",
        "x": 655.0000419616699,
        "y": 473.20008754730225,
        "wires": [
            [
                "29839c4a.f5e0b4",
                "9c0ca217.d310a"
            ]
        ]
    },
    {
        "id": "d36c972c.b12438",
        "type": "ui_button",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "29bd95cb.68d67a",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Set",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "var_zone2_duration_min",
        "payloadType": "flow",
        "topic": "",
        "x": 681.000171661377,
        "y": 947.1999840736389,
        "wires": [
            [
                "a486df7e.cd881",
                "466ff42f.ae7cbc"
            ]
        ]
    },
    {
        "id": "7675c9eb.7c5838",
        "type": "ui_switch",
        "z": "9848d94f.b62278",
        "name": "",
        "label": "Low power Enable",
        "group": "b9a7883e.bb2638",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 424.1000061035156,
        "y": 1159.000051498413,
        "wires": [
            [
                "1050a17c.f0acbf",
                "53cb98c6.907018"
            ]
        ]
    },
    {
        "id": "49928fd9.cd748",
        "type": "ui_slider",
        "z": "9848d94f.b62278",
        "name": "Zone1 duration",
        "label": "",
        "group": "8f202856.0f3138",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "60",
        "step": "2",
        "x": 281.0000305175781,
        "y": 452.4000988006592,
        "wires": [
            [
                "b04e531b.792ef",
                "59925034.b8fe5",
                "467055c3.557dec"
            ]
        ]
    },
    {
        "id": "292ed82e.69d518",
        "type": "ui_slider",
        "z": "9848d94f.b62278",
        "name": "Zone2 duration",
        "label": "",
        "group": "29bd95cb.68d67a",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "60",
        "step": "2",
        "x": 272.0001907348633,
        "y": 937.0001020431519,
        "wires": [
            [
                "90924251.cf611",
                "7dce174f.e74d48",
                "16a0f45b.26b52c"
            ]
        ]
    },
    {
        "id": "157556ec.7ced39",
        "type": "ui_numeric",
        "z": "9848d94f.b62278",
        "name": "",
        "label": "ESP Sleep, sec",
        "group": "b9a7883e.bb2638",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1800",
        "step": "60",
        "x": 430.1000099182129,
        "y": 1244.4000549316406,
        "wires": [
            [
                "a19ff382.fe0e1",
                "5dd021e1.b64f6"
            ]
        ]
    },
    {
        "id": "ad48b122.78fae",
        "type": "ui_text",
        "z": "9848d94f.b62278",
        "group": "8f202856.0f3138",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone1 status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870.1001224517822,
        "y": 294.40005588531494,
        "wires": []
    },
    {
        "id": "90924251.cf611",
        "type": "ui_text",
        "z": "9848d94f.b62278",
        "group": "29bd95cb.68d67a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone 2 duration minutes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 564.1002426147461,
        "y": 889.0000796318054,
        "wires": []
    },
    {
        "id": "b04e531b.792ef",
        "type": "ui_text",
        "z": "9848d94f.b62278",
        "group": "8f202856.0f3138",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone 1 duration minutes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 557.10009765625,
        "y": 437.000075340271,
        "wires": []
    },
    {
        "id": "1fdcce7e.e1c212",
        "type": "ui_text",
        "z": "9848d94f.b62278",
        "group": "b9a7883e.bb2638",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 406.90006256103516,
        "y": 1409.4002618789673,
        "wires": []
    },
    {
        "id": "814c485e.3bb998",
        "type": "ui_text",
        "z": "9848d94f.b62278",
        "group": "29bd95cb.68d67a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Zone2 status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 911.1004409790039,
        "y": 779.8000888824463,
        "wires": []
    },
    {
        "id": "fdadf23.8451f1",
        "type": "ui_text",
        "z": "9848d94f.b62278",
        "group": "b9a7883e.bb2638",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Debug:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 399.9000549316406,
        "y": 1510.800100326538,
        "wires": []
    },
    {
        "id": "de1892a1.3e6c9",
        "type": "ui_gauge",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "b9a7883e.bb2638",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "VBatt",
        "label": "Volts",
        "format": "{{value}}",
        "min": "3.6",
        "max": "4.2",
        "colors": [
            "#b30218",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "3.8",
        "seg2": "4.0",
        "x": 355.1000328063965,
        "y": 1614.4000148773193,
        "wires": []
    },
    {
        "id": "8d0336b9.f52498",
        "type": "ui_gauge",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Outside temp, F",
        "label": "F",
        "format": "{{value}}",
        "min": "23",
        "max": "110",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 849.100025177002,
        "y": 1529.3999862670898,
        "wires": []
    },
    {
        "id": "9d83d79d.933078",
        "type": "ui_gauge",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Outside humidity, %",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#b30218",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860.1000709533691,
        "y": 1420.6000576019287,
        "wires": []
    },
    {
        "id": "5f834a9e.a7c464",
        "type": "bigtimer",
        "z": "9848d94f.b62278",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Zone 1 scheduler",
        "lat": "32.854749",
        "lon": "-117.204547",
        "starttime": "1080",
        "endtime": "10015",
        "startoff": 0,
        "endoff": "0",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 504.10001945495605,
        "y": 224.30006504058838,
        "wires": [
            [
                "8f39b418.27fbb8",
                "7076a101.04a0c"
            ],
            [
                "21693cfb.54f894",
                "37d783ee.b1e1ec"
            ],
            []
        ]
    },
    {
        "id": "fd5a99c.9ad5668",
        "type": "bigtimer",
        "z": "9848d94f.b62278",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Zone 2 scheduler",
        "lat": "32.854749",
        "lon": "-117.204547",
        "starttime": "1140",
        "endtime": "10015",
        "startoff": 0,
        "endoff": "0",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 527.1001129150391,
        "y": 727.7000179290771,
        "wires": [
            [
                "8b0f6a1f.06fa28",
                "20c0f385.32921c"
            ],
            [
                "7a37dba4.75f814",
                "76ebc755.3eaa48"
            ],
            []
        ]
    },
    {
        "id": "d181c303.dc8e9",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString()+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 263.1000289916992,
        "y": 1514.2000999450684,
        "wires": [
            [
                "fdadf23.8451f1"
            ]
        ]
    },
    {
        "id": "315481de.cfb42e",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "off_override",
        "func": "msg.topic=\"\"\nif (parseInt(msg.payload) < 10)\n    msg.payload = \"off_override 1000\"+msg.payload\nelse\n    msg.payload = \"off_override 100\"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360.40003204345703,
        "y": 305.00002098083496,
        "wires": [
            [
                "f792002e.96d32",
                "5f834a9e.a7c464"
            ]
        ]
    },
    {
        "id": "f792002e.96d32",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 515.3999671936035,
        "y": 338.00006103515625,
        "wires": []
    },
    {
        "id": "36b13fe1.b9095",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "on_override",
        "func": "msg.payload = \"on_override \"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 311.90003395080566,
        "y": 166.0000295639038,
        "wires": [
            [
                "5f834a9e.a7c464"
            ]
        ]
    },
    {
        "id": "37d783ee.b1e1ec",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 722.3999767303467,
        "y": 253.0000696182251,
        "wires": []
    },
    {
        "id": "eb66e1d4.1553e",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "on_override",
        "func": "msg.payload = \"on_override \"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 321.9000930786133,
        "y": 670.8000164031982,
        "wires": [
            [
                "fd5a99c.9ad5668"
            ]
        ]
    },
    {
        "id": "76ebc755.3eaa48",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 893.0001449584961,
        "y": 695.0000190734863,
        "wires": []
    },
    {
        "id": "8632d037.f93e",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "zone1_duration_min_out",
        "topic": "hata/temp/watering/config/zone1_duration_min",
        "qos": "2",
        "broker": "4343d76e.bfa148",
        "x": 140.00000762939453,
        "y": 326.99999809265137,
        "wires": [
            [
                "315481de.cfb42e",
                "49928fd9.cd748"
            ]
        ]
    },
    {
        "id": "b0d0df8.9db8a2",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "off_override",
        "func": "msg.topic=\"\"\nif (parseInt(msg.payload) < 10)\n    msg.payload = \"off_override 1000\"+msg.payload\nelse\n    msg.payload = \"off_override 100\"+msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 349.0000877380371,
        "y": 809.4000101089478,
        "wires": [
            [
                "fd5a99c.9ad5668"
            ]
        ]
    },
    {
        "id": "1d4c7721.ca8c79",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "zone2_duration_min_out",
        "topic": "hata/temp/watering/config/zone2_duration_min",
        "qos": "2",
        "broker": "4343d76e.bfa148",
        "x": 146.60005950927734,
        "y": 840.4000301361084,
        "wires": [
            [
                "b0d0df8.9db8a2",
                "292ed82e.69d518"
            ]
        ]
    },
    {
        "id": "dab18d9a.07474",
        "type": "ui_gauge",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Radioactivity",
        "label": "CPM",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 378.1001319885254,
        "y": 1665.0000257492065,
        "wires": []
    },
    {
        "id": "80326490.1fc988",
        "type": "inject",
        "z": "9848d94f.b62278",
        "name": "test",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 162.00001525878906,
        "y": 1728.0000276565552,
        "wires": [
            [
                "dab18d9a.07474"
            ]
        ]
    },
    {
        "id": "9691de6f.ad617",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "Temp, C",
        "topic": "hata/temp/watering/output/ctemp",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 606,
        "y": 1581.5999755859375,
        "wires": [
            [
                "81904a8e.c12c68",
                "d0a7218f.7cd67"
            ]
        ]
    },
    {
        "id": "81904a8e.c12c68",
        "type": "debug",
        "z": "9848d94f.b62278",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 838.0000305175781,
        "y": 1580.5999755859375,
        "wires": []
    },
    {
        "id": "d0a7218f.7cd67",
        "type": "ui_gauge",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Outside temp, C",
        "label": "F",
        "format": "{{value}}",
        "min": "-5",
        "max": "45",
        "colors": [
            "#80ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 845.100025177002,
        "y": 1635.399926185608,
        "wires": []
    },
    {
        "id": "7642cad.9f79d34",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "Geiger, CPM",
        "topic": "hata/geiger/output/cpm",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 160.00000381469727,
        "y": 1667.600025177002,
        "wires": [
            [
                "dab18d9a.07474"
            ]
        ]
    },
    {
        "id": "ea93827a.b735f",
        "type": "inject",
        "z": "9848d94f.b62278",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 165.10001373291016,
        "y": 1845.999981880188,
        "wires": [
            [
                "4375eab9.830c94"
            ]
        ]
    },
    {
        "id": "f5852630.f07718",
        "type": "mqtt out",
        "z": "9848d94f.b62278",
        "name": "time",
        "topic": "hata/random/output/time",
        "qos": "1",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 494.10001373291016,
        "y": 1844.999981880188,
        "wires": []
    },
    {
        "id": "4375eab9.830c94",
        "type": "function",
        "z": "9848d94f.b62278",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 341.00000762939453,
        "y": 1845.7999801635742,
        "wires": [
            [
                "f5852630.f07718"
            ]
        ]
    },
    {
        "id": "4a16adfa.825d84",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "outlet1 STATE",
        "topic": "hata/lights/outlet1/output/state",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 199.00000762939453,
        "y": 277.0000057220459,
        "wires": [
            [
                "ccda958b.a6d238",
                "832e8c0c.42bfc"
            ]
        ]
    },
    {
        "id": "ccda958b.a6d238",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 421.00003814697266,
        "y": 276.0000057220459,
        "wires": []
    },
    {
        "id": "832e8c0c.42bfc",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "10657589.f8a1aa",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Portable outlet:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 492.90003967285156,
        "y": 319.2001781463623,
        "wires": []
    },
    {
        "id": "4cb69807.389618",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "debug",
        "topic": "hata/lights/outlet1/output/debug",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 182.00004196166992,
        "y": 372.0000286102295,
        "wires": [
            [
                "9f31cf0f.788b1",
                "540c8537.d5e13c"
            ]
        ]
    },
    {
        "id": "540c8537.d5e13c",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 420.0000457763672,
        "y": 370.00003814697266,
        "wires": []
    },
    {
        "id": "9f31cf0f.788b1",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString()+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 363.1000175476074,
        "y": 428.6000385284424,
        "wires": [
            [
                "9e241eaa.943e3"
            ]
        ]
    },
    {
        "id": "9e241eaa.943e3",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "10657589.f8a1aa",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Outlet1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 511.9000244140625,
        "y": 427.2000160217285,
        "wires": []
    },
    {
        "id": "c9ecff92.28703",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "10657589.f8a1aa",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay1 ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 180.00000762939453,
        "y": 105.00000286102295,
        "wires": [
            [
                "4b5c0871.212338",
                "3b669196.3cbaee"
            ]
        ]
    },
    {
        "id": "ba86f1da.e1ef7",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "10657589.f8a1aa",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay1 OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 178.9000129699707,
        "y": 140.19997882843018,
        "wires": [
            [
                "4b5c0871.212338",
                "3b669196.3cbaee"
            ]
        ]
    },
    {
        "id": "4b5c0871.212338",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "relay1_on",
        "topic": "hata/lights/outlet1/config/turn_on",
        "qos": "2",
        "retain": "true",
        "broker": "4343d76e.bfa148",
        "x": 427.00010871887207,
        "y": 138.8000030517578,
        "wires": []
    },
    {
        "id": "3b669196.3cbaee",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 433.000036239624,
        "y": 87.00000476837158,
        "wires": []
    },
    {
        "id": "f1d06103.e3b18",
        "type": "debug",
        "z": "b7da5f88.52cf3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 362.00003814697266,
        "y": 41.00000476837158,
        "wires": []
    },
    {
        "id": "a81f581.643eea8",
        "type": "mqtt in",
        "z": "b7da5f88.52cf3",
        "name": "IP+hostname",
        "topic": "hata/temp/watering/output/id",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 121.00000762939453,
        "y": 65.00000476837158,
        "wires": [
            [
                "f1d06103.e3b18",
                "22ed5ec1.a50182"
            ]
        ]
    },
    {
        "id": "480f7d67.751914",
        "type": "ui_text",
        "z": "b7da5f88.52cf3",
        "group": "608f2bba.e56a84",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 428.9000358581543,
        "y": 89.20017337799072,
        "wires": []
    },
    {
        "id": "22ed5ec1.a50182",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290.0000343322754,
        "y": 89.00000190734863,
        "wires": [
            [
                "480f7d67.751914"
            ]
        ]
    },
    {
        "id": "8e5c29c9.ee21f8",
        "type": "debug",
        "z": "b7da5f88.52cf3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 367.0000305175781,
        "y": 142.00000476837158,
        "wires": []
    },
    {
        "id": "ec067081.829d7",
        "type": "mqtt in",
        "z": "b7da5f88.52cf3",
        "name": "IP+hostname",
        "topic": "hata/geiger/output/id",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 126,
        "y": 166.00000476837158,
        "wires": [
            [
                "8e5c29c9.ee21f8",
                "2dd6da66.731e16"
            ]
        ]
    },
    {
        "id": "f300df22.c26e1",
        "type": "ui_text",
        "z": "b7da5f88.52cf3",
        "group": "608f2bba.e56a84",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Geiger:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 440.90003967285156,
        "y": 190.20018863677979,
        "wires": []
    },
    {
        "id": "2dd6da66.731e16",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 294.0000305175781,
        "y": 192.0000057220459,
        "wires": [
            [
                "f300df22.c26e1"
            ]
        ]
    },
    {
        "id": "33db5bc.d4817a4",
        "type": "debug",
        "z": "b7da5f88.52cf3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 372.0000305175781,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2ee8138.5904a",
        "type": "mqtt in",
        "z": "b7da5f88.52cf3",
        "name": "IP+hostname",
        "topic": "hata/lights/outlet1/output/id",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 131,
        "y": 264,
        "wires": [
            [
                "33db5bc.d4817a4",
                "ad1e9286.bb403"
            ]
        ]
    },
    {
        "id": "5cc44bda.d18ae4",
        "type": "ui_text",
        "z": "b7da5f88.52cf3",
        "group": "608f2bba.e56a84",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Outlet1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 448.90002822875977,
        "y": 288.20016860961914,
        "wires": []
    },
    {
        "id": "ad1e9286.bb403",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300.00002670288086,
        "y": 287.99999713897705,
        "wires": [
            [
                "5cc44bda.d18ae4"
            ]
        ]
    },
    {
        "id": "23d55da4.fc2312",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "sonoff2",
        "topic": "hata/sw/te/sonoff2/SENSOR",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 167.00000762939453,
        "y": 540.0000276565552,
        "wires": [
            [
                "70bc9bfa.b6fdb4"
            ]
        ]
    },
    {
        "id": "37c5a372.e490cc",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse temp",
        "func": "msg.payload = msg.payload.DHT11.Temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 365.00003814697266,
        "y": 566.0000286102295,
        "wires": [
            [
                "ba6aa35d.3a447",
                "f6837078.b3d7e"
            ]
        ]
    },
    {
        "id": "ba6aa35d.3a447",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 673.0000610351562,
        "y": 501.00007724761963,
        "wires": []
    },
    {
        "id": "70bc9bfa.b6fdb4",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 225.10000610351562,
        "y": 618.4000387191772,
        "wires": [
            [
                "37c5a372.e490cc",
                "682d7c24.b23174"
            ]
        ]
    },
    {
        "id": "f6837078.b3d7e",
        "type": "ui_gauge",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Garage temp, F",
        "label": "F",
        "format": "{{value}}",
        "min": "23",
        "max": "110",
        "colors": [
            "#00ffff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 682.0000686645508,
        "y": 553.0000314712524,
        "wires": []
    },
    {
        "id": "8ca31e15.acca4",
        "type": "ui_gauge",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Garage humidity, %",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#b30218",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 694,
        "y": 597.0000143051147,
        "wires": []
    },
    {
        "id": "682d7c24.b23174",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse humidity",
        "func": "msg.payload = msg.payload.DHT11.Humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 621.0000143051147,
        "wires": [
            [
                "8ca31e15.acca4"
            ]
        ]
    },
    {
        "id": "7370fd30.8a6984",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "10657589.f8a1aa",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Garage light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 202,
        "y": 712.3999633789062,
        "wires": [
            [
                "a81958da.9ed6d8",
                "5f08e883.56f718"
            ]
        ]
    },
    {
        "id": "b64abf5a.781d",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "10657589.f8a1aa",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Garage light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 210.90000534057617,
        "y": 747.5999393463135,
        "wires": [
            [
                "a81958da.9ed6d8",
                "5f08e883.56f718"
            ]
        ]
    },
    {
        "id": "a81958da.9ed6d8",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "sonoff2_on",
        "topic": "hata/sw/cm/sonoff2/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 449.00010108947754,
        "y": 746.1999635696411,
        "wires": []
    },
    {
        "id": "5f08e883.56f718",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 445.0000286102295,
        "y": 694.3999652862549,
        "wires": []
    },
    {
        "id": "69299f3d.07805",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "Sonoff2 STATE",
        "topic": "hata/sw/st/sonoff2/POWER",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 169.00001525878906,
        "y": 833.800012588501,
        "wires": [
            [
                "65ec26a8.34a7f8",
                "eb401dcf.20043"
            ]
        ]
    },
    {
        "id": "65ec26a8.34a7f8",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 343.0000705718994,
        "y": 876.800009727478,
        "wires": []
    },
    {
        "id": "eb401dcf.20043",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "10657589.f8a1aa",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Garage light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 677.9001655578613,
        "y": 833.000207901001,
        "wires": []
    },
    {
        "id": "c1eb569e.cc69d8",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 346.00001525878906,
        "y": 832.8000392913818,
        "wires": [
            [
                "89aa3146.7934b"
            ]
        ]
    },
    {
        "id": "89aa3146.7934b",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 491.9000129699707,
        "y": 831.4000129699707,
        "wires": [
            []
        ]
    },
    {
        "id": "dae368c.d13c698",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Patio light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 205,
        "y": 954,
        "wires": [
            [
                "52ab07ae.1d8718",
                "e0ef9c78.12491"
            ]
        ]
    },
    {
        "id": "89bd6a1b.e8a238",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Patio light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 203.90000534057617,
        "y": 989.1999759674072,
        "wires": [
            [
                "52ab07ae.1d8718",
                "e0ef9c78.12491"
            ]
        ]
    },
    {
        "id": "52ab07ae.1d8718",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "patio_light_on",
        "topic": "hata/sw/cm/s10_patio_sw/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 462.00010108947754,
        "y": 987.8000001907349,
        "wires": []
    },
    {
        "id": "e0ef9c78.12491",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 448.0000286102295,
        "y": 936.0000019073486,
        "wires": []
    },
    {
        "id": "aa550430.7938d8",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "patio light STATE",
        "topic": "hata/sw/st/s10_patio_sw/POWER",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 172.00001525878906,
        "y": 1075.4000492095947,
        "wires": [
            [
                "c5884b1e.a06408",
                "fab43d2a.d7d77"
            ]
        ]
    },
    {
        "id": "c5884b1e.a06408",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 346.0000705718994,
        "y": 1118.4000463485718,
        "wires": []
    },
    {
        "id": "fab43d2a.d7d77",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "e0292721.a65998",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patio light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680.9001655578613,
        "y": 1074.6002445220947,
        "wires": []
    },
    {
        "id": "58c878d0.8f5a38",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 349.00001525878906,
        "y": 1074.4000759124756,
        "wires": [
            [
                "a81ffc15.1fb1b"
            ]
        ]
    },
    {
        "id": "a81ffc15.1fb1b",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 494.9000129699707,
        "y": 1073.0000495910645,
        "wires": [
            []
        ]
    },
    {
        "id": "e7395c2f.f608",
        "type": "mqtt in",
        "z": "b7da5f88.52cf3",
        "name": "Sonoff2",
        "topic": "hata/sw/st/sonoff2/RESULT",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 104.00003814697266,
        "y": 444.00001335144043,
        "wires": [
            [
                "7894d628.511848"
            ]
        ]
    },
    {
        "id": "4196001e.1f791",
        "type": "debug",
        "z": "b7da5f88.52cf3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 655.0000610351562,
        "y": 507.00001430511475,
        "wires": []
    },
    {
        "id": "2ae63519.678e9a",
        "type": "ui_text",
        "z": "b7da5f88.52cf3",
        "group": "608f2bba.e56a84",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sonoff 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 825.9001693725586,
        "y": 439.2002067565918,
        "wires": []
    },
    {
        "id": "7894d628.511848",
        "type": "json",
        "z": "b7da5f88.52cf3",
        "name": "",
        "pretty": false,
        "x": 228.00001907348633,
        "y": 444.00006103515625,
        "wires": [
            [
                "41d83a28.140834"
            ]
        ]
    },
    {
        "id": "41d83a28.140834",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "parse state",
        "func": "msg.payload = msg.payload.IPAddress1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 411.9000186920166,
        "y": 445.60001277923584,
        "wires": [
            [
                "4196001e.1f791",
                "5789fae7.9eac74"
            ]
        ]
    },
    {
        "id": "45d53cf9.edc354",
        "type": "mqtt out",
        "z": "b7da5f88.52cf3",
        "name": "query IP",
        "topic": "hata/sw/cm/tykalka1/IPAddress1",
        "qos": "1",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 461.10005950927734,
        "y": 706.9999847412109,
        "wires": []
    },
    {
        "id": "a50b2d42.6747e",
        "type": "debug",
        "z": "b7da5f88.52cf3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 424.1000328063965,
        "y": 758.9999742507935,
        "wires": []
    },
    {
        "id": "81f9dec2.cd849",
        "type": "inject",
        "z": "b7da5f88.52cf3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "x": 131.10000610351562,
        "y": 710.9999856948853,
        "wires": [
            [
                "45d53cf9.edc354",
                "a50b2d42.6747e",
                "7129d94b.200118"
            ]
        ]
    },
    {
        "id": "5789fae7.9eac74",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 616.0000152587891,
        "y": 442.00001525878906,
        "wires": [
            [
                "2ae63519.678e9a"
            ]
        ]
    },
    {
        "id": "12fd891c.7b1ef7",
        "type": "ui_gauge",
        "z": "9848d94f.b62278",
        "name": "",
        "group": "7b8cfdd7.b1c304",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Air quality, gas/CO",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "4",
        "seg2": "7",
        "x": 830.0000228881836,
        "y": 1723.600076675415,
        "wires": []
    },
    {
        "id": "a8f2f5a3.505478",
        "type": "mqtt in",
        "z": "9848d94f.b62278",
        "name": "Air quality, MQ9 gas sensor",
        "topic": "hata/geiger/output/mq9",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 551.8998718261719,
        "y": 1723.200026512146,
        "wires": [
            [
                "12fd891c.7b1ef7"
            ]
        ]
    },
    {
        "id": "4c7077ed.b23c78",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "9c33e52.3698e18",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "MB light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 154,
        "y": 1204,
        "wires": [
            [
                "cfac02f5.a99b2",
                "6e6d2cb1.d50524"
            ]
        ]
    },
    {
        "id": "f9608c3b.cb97b",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "9c33e52.3698e18",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "MB light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 152.90000534057617,
        "y": 1239.1999759674072,
        "wires": [
            [
                "cfac02f5.a99b2",
                "6e6d2cb1.d50524"
            ]
        ]
    },
    {
        "id": "cfac02f5.a99b2",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "tykalka1_on",
        "topic": "hata/sw/cm/tykalka1/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 411.00010108947754,
        "y": 1237.8000001907349,
        "wires": []
    },
    {
        "id": "6e6d2cb1.d50524",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 407.0000286102295,
        "y": 1186.0000019073486,
        "wires": []
    },
    {
        "id": "89942e51.210da",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "tykalka1 STATE",
        "topic": "hata/sw/st/tykalka1/POWER",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 131.00001525878906,
        "y": 1325.4000492095947,
        "wires": [
            [
                "9914d2fe.4232b",
                "a5812f6a.5e361"
            ]
        ]
    },
    {
        "id": "9914d2fe.4232b",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 305.0000705718994,
        "y": 1368.4000463485718,
        "wires": []
    },
    {
        "id": "a5812f6a.5e361",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "9c33e52.3698e18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MB light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 629.9001655578613,
        "y": 1324.6002445220947,
        "wires": []
    },
    {
        "id": "88e84369.7258f",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 308.00001525878906,
        "y": 1324.4000759124756,
        "wires": [
            [
                "40d32cdc.33d964"
            ]
        ]
    },
    {
        "id": "40d32cdc.33d964",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 459.90003967285156,
        "y": 1293.9999904632568,
        "wires": [
            []
        ]
    },
    {
        "id": "7490b779.e2e8c8",
        "type": "mqtt in",
        "z": "b7da5f88.52cf3",
        "name": "tykalka1",
        "topic": "hata/sw/st/tykalka1/RESULT",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 106,
        "y": 568,
        "wires": [
            [
                "e41a7b3d.80bdc8"
            ]
        ]
    },
    {
        "id": "1062da49.3254c6",
        "type": "debug",
        "z": "b7da5f88.52cf3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 647.0000228881836,
        "y": 631.0000009536743,
        "wires": []
    },
    {
        "id": "6acaf01d.0693b",
        "type": "ui_text",
        "z": "b7da5f88.52cf3",
        "group": "608f2bba.e56a84",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MB light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 817.9001312255859,
        "y": 563.2001934051514,
        "wires": []
    },
    {
        "id": "e41a7b3d.80bdc8",
        "type": "json",
        "z": "b7da5f88.52cf3",
        "name": "",
        "pretty": false,
        "x": 245.99999618530273,
        "y": 568.0000653266907,
        "wires": [
            [
                "b046dc7d.7bd93"
            ]
        ]
    },
    {
        "id": "b046dc7d.7bd93",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "parse state",
        "func": "msg.payload = msg.payload.IPAddress1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 403.89998054504395,
        "y": 569.5999994277954,
        "wires": [
            [
                "1062da49.3254c6",
                "6427fa61.92c644"
            ]
        ]
    },
    {
        "id": "6427fa61.92c644",
        "type": "function",
        "z": "b7da5f88.52cf3",
        "name": "add date",
        "func": "msg.payload = new Date().toLocaleString('en-US', {hour12:false})+\": \"+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 607.9999771118164,
        "y": 566.0000019073486,
        "wires": [
            [
                "6acaf01d.0693b"
            ]
        ]
    },
    {
        "id": "7129d94b.200118",
        "type": "mqtt out",
        "z": "b7da5f88.52cf3",
        "name": "query IP",
        "topic": "hata/sw/cm/sonoff2/IPAddress1",
        "qos": "1",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 460,
        "y": 661.5999755859375,
        "wires": []
    },
    {
        "id": "63356c84.b6be24",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 363.10003662109375,
        "y": 1485.7999877929688,
        "wires": []
    },
    {
        "id": "cd7569fc.d30b88",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "9c33e52.3698e18",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hallway light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 168,
        "y": 1583.199951171875,
        "wires": [
            [
                "b941e1a7.98004",
                "402edcbe.a62db4"
            ]
        ]
    },
    {
        "id": "a79c1c14.1100d",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "9c33e52.3698e18",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Hallway light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 176.90000534057617,
        "y": 1618.3999271392822,
        "wires": [
            [
                "b941e1a7.98004",
                "402edcbe.a62db4"
            ]
        ]
    },
    {
        "id": "b941e1a7.98004",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "dual1_power1",
        "topic": "hata/sw/cm/dual1/POWER1",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 425.00010108947754,
        "y": 1616.9999513626099,
        "wires": []
    },
    {
        "id": "402edcbe.a62db4",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 411.0000286102295,
        "y": 1565.1999530792236,
        "wires": []
    },
    {
        "id": "e1e5ba31.341158",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "dual1 STATE",
        "topic": "hata/sw/st/dual1/POWER1",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 124.00001525878906,
        "y": 1706.5999774932861,
        "wires": [
            [
                "eab88096.fcb5",
                "46492e9a.e1da2"
            ]
        ]
    },
    {
        "id": "eab88096.fcb5",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 309.0000705718994,
        "y": 1747.5999975204468,
        "wires": []
    },
    {
        "id": "46492e9a.e1da2",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "9c33e52.3698e18",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hallway light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 643.9001655578613,
        "y": 1703.8001956939697,
        "wires": []
    },
    {
        "id": "74abe3b1.3f8bbc",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 313.00003242492676,
        "y": 1673.5999774932861,
        "wires": [
            [
                "cf6133fb.386e4"
            ]
        ]
    },
    {
        "id": "cf6133fb.386e4",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 467.90003967285156,
        "y": 1673.200050354004,
        "wires": [
            [
                "46492e9a.e1da2"
            ]
        ]
    },
    {
        "id": "db2430c2.02568",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "9c33e52.3698e18",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Bathroom light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 156,
        "y": 1832,
        "wires": [
            [
                "b0ac7a8e.25b1a8",
                "8eb9d027.5f3a5"
            ]
        ]
    },
    {
        "id": "2d631e73.1ecb92",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "9c33e52.3698e18",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Bathroom light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 154.90000534057617,
        "y": 1867.1999759674072,
        "wires": [
            [
                "b0ac7a8e.25b1a8",
                "8eb9d027.5f3a5"
            ]
        ]
    },
    {
        "id": "b0ac7a8e.25b1a8",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "dual1_power2",
        "topic": "hata/sw/cm/dual1/POWER2",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 403.00010108947754,
        "y": 1865.8000001907349,
        "wires": []
    },
    {
        "id": "8eb9d027.5f3a5",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 389.0000286102295,
        "y": 1814.0000019073486,
        "wires": []
    },
    {
        "id": "36817a11.f31da6",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "dual1 power1 STATE",
        "topic": "hata/sw/st/dual1/POWER2",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 133.00001525878906,
        "y": 1953.4000492095947,
        "wires": [
            [
                "916a563.538fda8",
                "5516676.87fc298",
                "98c69129.69e1a"
            ]
        ]
    },
    {
        "id": "916a563.538fda8",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 319.00008392333984,
        "y": 2003.4000835418701,
        "wires": []
    },
    {
        "id": "5516676.87fc298",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "9c33e52.3698e18",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bathroom light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670.9001655578613,
        "y": 1950.6001796722412,
        "wires": []
    },
    {
        "id": "98c69129.69e1a",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 343.0000305175781,
        "y": 1922.4000577926636,
        "wires": [
            [
                "1279f520.ca1f5b"
            ]
        ]
    },
    {
        "id": "1279f520.ca1f5b",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 503.90003967285156,
        "y": 1984.0000581741333,
        "wires": [
            [
                "5516676.87fc298"
            ]
        ]
    },
    {
        "id": "8ed81c09.3fa2a",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "10657589.f8a1aa",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Laundry light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 170,
        "y": 2100,
        "wires": [
            [
                "372f327a.7f9ffe",
                "8f7b1c7b.60fb5"
            ]
        ]
    },
    {
        "id": "852c4c33.96aa5",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "10657589.f8a1aa",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Laundry light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 168.90000534057617,
        "y": 2135.199975967407,
        "wires": [
            [
                "372f327a.7f9ffe",
                "8f7b1c7b.60fb5"
            ]
        ]
    },
    {
        "id": "372f327a.7f9ffe",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "garage_pir_on",
        "topic": "hata/sw/cm/garage_pir/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 417.00010108947754,
        "y": 2133.800000190735,
        "wires": []
    },
    {
        "id": "8f7b1c7b.60fb5",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 403.0000286102295,
        "y": 2082.0000019073486,
        "wires": []
    },
    {
        "id": "7c074f89.2a73b",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "garage_pir STATE",
        "topic": "hata/sw/st/garage_pir/POWER",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 137.00001525878906,
        "y": 2221.4000492095947,
        "wires": [
            [
                "1508d1cd.d4ee5e",
                "c3600755.1bfb18"
            ]
        ]
    },
    {
        "id": "1508d1cd.d4ee5e",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 301.0000705718994,
        "y": 2264.400046348572,
        "wires": []
    },
    {
        "id": "c3600755.1bfb18",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "10657589.f8a1aa",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Laundry light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 645.9001655578613,
        "y": 2220.6002445220947,
        "wires": []
    },
    {
        "id": "fda74c57.a23c4",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 304.00001525878906,
        "y": 2220.4000759124756,
        "wires": [
            [
                "883b66d.8140a98"
            ]
        ]
    },
    {
        "id": "883b66d.8140a98",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 455.90003967285156,
        "y": 2189.999990463257,
        "wires": [
            []
        ]
    },
    {
        "id": "ddf63703.e94a28",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 370,
        "y": 2380,
        "wires": []
    },
    {
        "id": "8b71e404.97bf98",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Kitchen light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 137.8999900817871,
        "y": 2436.5999794006348,
        "wires": [
            [
                "e8838dcd.ba133",
                "b21e19bf.caf058"
            ]
        ]
    },
    {
        "id": "852325a7.c49858",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Kitchen light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 146.79999542236328,
        "y": 2471.799955368042,
        "wires": [
            [
                "e8838dcd.ba133",
                "b21e19bf.caf058"
            ]
        ]
    },
    {
        "id": "e8838dcd.ba133",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "kitchen_light_power1",
        "topic": "hata/sw/cm/kitchen_light/POWER1",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 414.90009117126465,
        "y": 2470.3999795913696,
        "wires": []
    },
    {
        "id": "b21e19bf.caf058",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 380.9000186920166,
        "y": 2418.5999813079834,
        "wires": []
    },
    {
        "id": "7537f25f.df5e9c",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "kitchen_light STATE",
        "topic": "hata/sw/st/kitchen_light/POWER1",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 113.90000534057617,
        "y": 2560.000005722046,
        "wires": [
            [
                "da12203a.9d3e8",
                "ee865283.59283"
            ]
        ]
    },
    {
        "id": "da12203a.9d3e8",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 278.9000606536865,
        "y": 2601.0000257492065,
        "wires": []
    },
    {
        "id": "ee865283.59283",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "e0292721.a65998",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kitchen light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 613.8001556396484,
        "y": 2557.2002239227295,
        "wires": []
    },
    {
        "id": "e4a9efa0.9664e",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 282.90002250671387,
        "y": 2527.000005722046,
        "wires": [
            [
                "5ae8d6a2.33f478"
            ]
        ]
    },
    {
        "id": "5ae8d6a2.33f478",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437.8000297546387,
        "y": 2526.6000785827637,
        "wires": [
            [
                "ee865283.59283"
            ]
        ]
    },
    {
        "id": "d27558d8.960878",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Dining light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 115.89999008178711,
        "y": 2685.4000282287598,
        "wires": [
            [
                "f528b6e3.8912f8",
                "414bc7c5.c1d6b8"
            ]
        ]
    },
    {
        "id": "56e2b1bd.a814c",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Dining light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 114.79999542236328,
        "y": 2720.600004196167,
        "wires": [
            [
                "f528b6e3.8912f8",
                "414bc7c5.c1d6b8"
            ]
        ]
    },
    {
        "id": "f528b6e3.8912f8",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "kitchen_light_power2",
        "topic": "hata/sw/cm/kitchen_light/POWER2",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 392.90009117126465,
        "y": 2719.2000284194946,
        "wires": []
    },
    {
        "id": "414bc7c5.c1d6b8",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 358.9000186920166,
        "y": 2667.4000301361084,
        "wires": []
    },
    {
        "id": "f110de8a.f6da3",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "kitchen_light power2 STATE",
        "topic": "hata/sw/st/kitchen_light/POWER2",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 122.90000534057617,
        "y": 2806.8000774383545,
        "wires": [
            [
                "5020a9c1.a7b088",
                "d0c19299.9d20d",
                "1cf42da7.979ac2"
            ]
        ]
    },
    {
        "id": "5020a9c1.a7b088",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 288.90007400512695,
        "y": 2856.80011177063,
        "wires": []
    },
    {
        "id": "d0c19299.9d20d",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "e0292721.a65998",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dining light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630.8001556396484,
        "y": 2804.000207901001,
        "wires": []
    },
    {
        "id": "1cf42da7.979ac2",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 312.90002059936523,
        "y": 2775.8000860214233,
        "wires": [
            [
                "e2ae225d.5548d"
            ]
        ]
    },
    {
        "id": "e2ae225d.5548d",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 473.8000297546387,
        "y": 2837.400086402893,
        "wires": [
            [
                "d0c19299.9d20d"
            ]
        ]
    },
    {
        "id": "6de27328.02251c",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "2nd br light ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 140,
        "y": 2940,
        "wires": [
            [
                "802f671e.03d5a8",
                "40e8f348.50ff6c"
            ]
        ]
    },
    {
        "id": "630f11d9.22ff2",
        "type": "ui_button",
        "z": "a50c148b.5de898",
        "name": "",
        "group": "e0292721.a65998",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "2nd br light OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 138.90000534057617,
        "y": 2975.199975967407,
        "wires": [
            [
                "802f671e.03d5a8",
                "40e8f348.50ff6c"
            ]
        ]
    },
    {
        "id": "802f671e.03d5a8",
        "type": "mqtt out",
        "z": "a50c148b.5de898",
        "name": "2nd_br_touch_on",
        "topic": "hata/sw/cm/2nd_br_touch/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "4343d76e.bfa148",
        "x": 407.00010108947754,
        "y": 2973.800000190735,
        "wires": []
    },
    {
        "id": "40e8f348.50ff6c",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 383.0000286102295,
        "y": 2922.0000019073486,
        "wires": []
    },
    {
        "id": "85a0d68b.48a468",
        "type": "mqtt in",
        "z": "a50c148b.5de898",
        "name": "2nd br STATE",
        "topic": "hata/sw/st/2nd_br_touch/POWER",
        "qos": "1",
        "broker": "4343d76e.bfa148",
        "x": 97.00001525878906,
        "y": 3061.4000492095947,
        "wires": [
            [
                "43a9190e.7f1368",
                "a359799.6e40788"
            ]
        ]
    },
    {
        "id": "43a9190e.7f1368",
        "type": "debug",
        "z": "a50c148b.5de898",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 281.0000705718994,
        "y": 3104.400046348572,
        "wires": []
    },
    {
        "id": "a359799.6e40788",
        "type": "ui_text",
        "z": "a50c148b.5de898",
        "group": "e0292721.a65998",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "2nd Br light:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 615.9001655578613,
        "y": 3060.6002445220947,
        "wires": []
    },
    {
        "id": "97b52bbc.bb4e98",
        "type": "json",
        "z": "a50c148b.5de898",
        "name": "",
        "pretty": false,
        "x": 284.00001525878906,
        "y": 3060.4000759124756,
        "wires": [
            [
                "64d1d38.9592c2c"
            ]
        ]
    },
    {
        "id": "64d1d38.9592c2c",
        "type": "function",
        "z": "a50c148b.5de898",
        "name": "parse state",
        "func": "msg.payload = msg.payload.POWER;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 435.90003967285156,
        "y": 3029.999990463257,
        "wires": [
            []
        ]
    },
    {
        "id": "50105c8a.ecda14",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Hallway",
        "inputtrigger": false,
        "x": 140,
        "y": 1520,
        "wires": [
            [
                "63356c84.b6be24",
                "b941e1a7.98004"
            ]
        ]
    },
    {
        "id": "54960f44.1089c",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Kitchen",
        "inputtrigger": false,
        "x": 120,
        "y": 2380,
        "wires": [
            [
                "ddf63703.e94a28",
                "e8838dcd.ba133"
            ]
        ]
    },
    {
        "id": "bcad2e5a.edf32",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Dining",
        "inputtrigger": false,
        "x": 90,
        "y": 2640,
        "wires": [
            [
                "414bc7c5.c1d6b8",
                "f528b6e3.8912f8"
            ]
        ]
    },
    {
        "id": "ee8cb8a8.eb2078",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Patio",
        "inputtrigger": false,
        "x": 170,
        "y": 900,
        "wires": [
            [
                "e0ef9c78.12491",
                "52ab07ae.1d8718"
            ]
        ]
    },
    {
        "id": "4ecf583a.8f0068",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Laundry",
        "inputtrigger": false,
        "x": 140,
        "y": 2040,
        "wires": [
            [
                "8f7b1c7b.60fb5",
                "372f327a.7f9ffe"
            ]
        ]
    },
    {
        "id": "a2864205.e95f",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Mila",
        "inputtrigger": false,
        "x": 110,
        "y": 2900,
        "wires": [
            [
                "40e8f348.50ff6c",
                "802f671e.03d5a8"
            ]
        ]
    },
    {
        "id": "7f1e7d27.2f03a4",
        "type": "alexa-local",
        "z": "a50c148b.5de898",
        "devicename": "Garage",
        "inputtrigger": false,
        "x": 200,
        "y": 660,
        "wires": [
            [
                "5f08e883.56f718",
                "a81958da.9ed6d8"
            ]
        ]
    }
]
